---
---

@import "minima";

.site-header {
  border-top: none;
}

.site-title {
 font-size: 20px;
 letter-spacing: 0.1px; 
}

.site-nav .page-link {
  color: #424242;
}

a.post-link {
  font-size: 20px;
  color: #444444;
}

a.post-link:visited {
  color: #777777;
}

.post-meta {
  font-size: 12px;
}

.wrapper {
  max-width: 600px;
}

@media screen and (max-width: 800px) {
  .wrapper {
      padding-right: 30px;
      padding-left: 30px;
  }
}

.post-header {
  margin: 25px 0 40px;
}

.post-title {
  font-size: 28px;
  letter-spacing: initial;
}

.post-content {
  font-size: 17px;
  line-height: 1.75;
  color: #444444;
  letter-spacing: 0.1px;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-bottom: 130px;
}

@media screen and (max-width: 800px) {
  .post-title {
    font-size: 26px;
  }
}

.post-content p {
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-ideograph;
}
