---
---

@import "minima";

.site-header {
  border-top: none;
}

.post-content {
  overflow-wrap: break-word;
  word-break: break-word;
}

.post-title {
  font-size: 28px;
  letter-spacing: initial;
}

@media screen and (max-width: 800px) {
  font-size: 26px;
  letter-spacing: initial;
}